# Ignorar cookies y carpetas de Python
backend python/youtube_cookies.txt
backend python/__pycache__/
backend python/.venv/

# Ignorar archivos de Swift
Front end ios/DerivedData/
Front end ios/*.xcuserstate